body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-body
{
  background-color: cadetblue;
  float: left;
  width: 30%; 
  margin: 1%;
  text-align: center;
  height:20vw;
  border-radius: 10%;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  background-color: darkslateblue;color: white;text-align: center;font-weight: bold;font-size: 3vw;
  /* overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; */
}
.board_item
{
  text-decoration: none;
  color:white;
  font-weight: bold;
}
.lists-page
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-form
{
  margin: 2%;
  display: flex;
}
.Lists{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  
}
.List{
  width: 30vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: space-between;
  justify-content: space-between;
  background-color: silver;
  border-radius: 5px;
}
.list-header{
font-weight: bold;
font-size:1vw;
background-color: darkslateblue;
color:white;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.item
{
  font-size: 2vw;
  box-shadow:1px 3px 3px black; 
  color:black;
}
.list-name
{
  float:left;
}
.add-list-button{
  width: 2%;
}
.addCardbutton
{
  margin-bottom: 0%;
}
.checklists
{
  margin:2% auto auto auto;
  width: 50%;
  text-align: center;
  background-color: darkgrey;
}
.checklists-item
{
  font-size: 2vw;
  font-weight: bold;
}
.checklists-header
{
  padding-left: 40%;
  box-shadow:1px 3px 3px black;
  color:white;
  display:flex;
  justify-content:space-between;
}
.checklist-item{
  display: flex;
  justify-content: space-between;
}
.card-item
{
  margin: 1%;
}
.form-control
{
  width:100%;
}